@charset "UTF-8";
/*! Reset/normalize hybrid with major contributions from normalize.css, html5doctor.com Reset Stylesheet, and http://html5reset.org/

* Sam Richard - http://snugug.com/
* Nicholas Gallagher, Jonathan Neal - http://necolas.github.io/normalize.css/
* Richard Clark - http://richclarkdesign.com
* Tim Murtaugh - http://monkeydo.biz/
*/
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
main,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ul {
  list-style: none;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
input[type="button"] {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

input,
select {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/*/*!
* Name: variable.scss
* Description: reusable global variables;
*/
/*!*/
/***************Media Query sizes***************/
/*Global styles*/
body, h1, h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

body {
  background: #343334 url("../images/layout/bg.png") repeat left top;
}

a {
  color: #79a6f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.selected {
  color: #79a6f6;
}

/*------------------------------------------------------
                     Fancy box
--------------------------------------------------------*/
.fancybox-outer .fancybox-nav {
  width: 36px;
  height: 34px;
  top: calc(50% - 17px);
}

.fancybox-outer .fancybox-nav span {
  opacity: 0.5;
  visibility: visible;
  transition: opacity .3s ease-in-out;
}

.fancybox-outer .fancybox-nav span:hover {
  opacity: 1;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 3s;
}

.navbar {
  font-size: 18px;
  background-color: #343334;
  z-index: 999;
  /********************************************
					Mobile Menu
	*********************************************/
}

.navbar.stuck {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar.stuck .logo-container .menu-item__link {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

.navbar.stuck .logo-container .menu-item__link .btop--text {
  fill: white;
}

.navbar.stuck .logo-container .menu-item__link .btop--background {
  fill: #272727;
  transition: fill 0.3s;
}

.navbar.stuck .logo-container .menu-item__link:hover .btop--background {
  fill: #00BFFF;
}

.navbar .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 12px;
}

.navbar .logo-container .menu-item__link {
  width: 0;
  margin-top: -50px;
  transition: margin-top 0.5s;
}

.navbar .logo-container .logo-label {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.navbar .logo-container .logo-label:after {
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 7px 5px;
  box-shadow: 0 10px 0 white, 0 20px 0 white;
  transition: all 0.3s;
}

.navbar .logo-container .logo-label:hover:after {
  background-color: #00BFFF;
  box-shadow: 0 10px 0 #00BFFF, 0 20px 0 #00BFFF;
}

.navbar #mobile-menu {
  display: none;
}

.navbar #mobile-menu:checked ~ .menu-container {
  max-height: 250px;
}

.navbar .menu-container {
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  display: block;
  z-index: 9999;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .menu-container .menu-item {
  display: block;
  width: 100%;
  text-align: left;
  text-align: center;
  border-top: solid thin #777;
  transition: background-color 0.3s;
}

.navbar .menu-container .menu-item .menu-item__link {
  color: white;
  transition: color 0.3s;
  display: block;
  text-decoration: none;
  padding: 20px 0;
  text-transform: capitalize;
}

.navbar .menu-container .menu-item:hover {
  background-color: #272727;
}

.navbar .menu-container .menu-item:hover .menu-item__link {
  color: #00BFFF;
}

@media only screen and (min-width: 769px) {
  .navbar {
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
  }
  .navbar .logo-container .logo {
    line-height: inherit;
    display: inline-table;
    padding: 12px;
  }
  .navbar .logo-container .logo-label {
    display: none;
  }
  .navbar .menu-container {
    max-height: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: inline-block;
    line-height: 40px;
  }
  .navbar .menu-container .menu-item {
    text-align: center;
    display: inline;
    margin: 0;
    border: none;
    float: left;
    width: 100px;
    margin: 0 16px;
  }
  .navbar .menu-container .menu-item .menu-item__link {
    cursor: pointer;
    outline: none;
    width: 100%;
    text-decoration: none;
    padding: 0;
    display: block;
  }
  .navbar .menu-container .menu-item:hover {
    cursor: pointer;
    position: relative;
    background-color: inherit;
  }
  .navbar .menu-container .menu-item:hover .menu-item__link {
    color: #00BFFF;
  }
}

/* Header section */
.intro {
  text-align: center;
  height: calc(100vh - 50px);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 32px;
}

.background.lazyloaded {
  background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.8)), url("../images/slider-images/image01.png");
  background-size: cover;
  background-attachment: fixed;
}

.header-title {
  font-size: 50px;
  cursor: default;
  letter-spacing: -4px;
}

@media only screen and (min-width: 601px) {
  .header-title {
    font-size: 60px;
  }
}

.header-title span {
  color: #00BFFF;
  font-size: 32px;
}

.header-description {
  margin: 72px auto 0 auto;
  text-align: left;
}

.header-description li {
  display: block;
  text-indent: 0.4em;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 20px;
  line-height: 1.5em;
}

.header-description li:before {
  content: "• ";
  color: #00BFFF;
  vertical-align: middle;
}

@media only screen and (min-width: 769px) {
  .header-description {
    text-align: center;
  }
  .header-description li {
    display: inline-block;
  }
  .header-description li:first-child:before {
    content: "";
  }
}

.header-sub {
  margin: 72px auto 0 auto;
  max-width: 600px;
}

.title-page {
  text-align: center;
  padding: 56px 16px;
  color: white;
}

@media only screen and (min-width: 425px) {
  .title-page {
    padding: 64px 28px;
  }
}

@media only screen and (min-width: 601px) {
  .title-page {
    padding: 64px 56px;
  }
}

.title {
  font-size: 48px;
}

.title-description {
  margin-top: 32px;
  font-size: 24px;
  line-height: 1.5em;
}

/* ==================================================
   Section Portfolio
================================================== */
.type-work {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1em;
  text-transform: uppercase;
}

.work-nav #filters {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 769px) {
  .work-nav #filters {
    display: block;
  }
}

.work-nav #filters li {
  padding: 0;
  margin: 12px 20px 12px 0;
  display: inline-block;
}

.work-nav #filters li:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 769px) {
  .work-nav #filters li {
    margin: 0 0 32px 0;
    display: block;
  }
}

.work-nav #filters li a {
  color: #7F8289;
  font-size: 16px;
}

.work-nav #filters li a:hover {
  color: #FFFFFF;
}

.work-nav #filters li a.selected {
  color: #00BFFF;
}

.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px;
}

@media only screen and (min-width: 425px) {
  .work__container {
    padding: 0 48px;
  }
}

@media only screen and (min-width: 769px) {
  .work__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 993px) {
  .work__container {
    padding: 0 64px;
  }
}

.work-categories__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 601px) {
  .work-categories__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (min-width: 769px) {
  .work-items__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
}

.work__item {
  width: 100%;
  padding: 24px;
}

.work__item .work__item--description {
  background-color: #4178be;
}

.work__item a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 425px) {
  .work__item {
    width: 46%;
    padding: 8px;
  }
}

@media only screen and (min-width: 1200px) {
  .work__item {
    width: 30%;
  }
}

/* ==================================================
   Section Life
================================================== */
.life__items {
  padding: 0 24px;
}

@media only screen and (min-width: 425px) {
  .life__items {
    padding: 0 48px;
  }
}

@media only screen and (min-width: 769px) {
  .life__items {
    padding: 0 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 993px) {
  .life__items {
    padding: 0 64px;
  }
}

.life__item:nth-child(2) {
  margin: 64px 0;
}

@media only screen and (min-width: 769px) {
  .life__item {
    width: 30%;
    text-align: left;
  }
  .life__item:nth-child(2) {
    margin: 0 5%;
  }
}

.life__item--title {
  color: #d8d8d8;
  font-size: 24px;
  text-transform: capitalize;
  padding: 12px 0;
}

@media only screen and (min-width: 769px) {
  .life__item--title {
    padding: 24px 0;
  }
}

.life__item--description {
  color: #949394;
  line-height: 28px;
}

.life_item__image__container {
  border: 5px solid #fff;
  box-shadow: 2px 2px 0px #272727;
}

/*==================================================
                  image overlay
  ==================================================*/
.mask_container {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.mask_container:hover .mask {
  opacity: 1;
}

.mask_container:hover .mask__title, .mask_container:hover .mask__description {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.mask_container:hover .mask__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mask_container:hover .mask__description {
  transition-delay: 0.1s;
}

.mask_container:hover .mask__link {
  transition-delay: 0.4s;
  opacity: 1;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  background-color: rgba(90, 170, 250, 0.7);
  transition: all 0.4s ease-in-out;
}

.mask__image {
  display: block;
  transition: all 0.2s linear;
}

.mask__title {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.mask__description {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 20px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
  transition: all 0.3s linear;
}

.mask__link {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  width: 80%;
  max-width: 160px;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.mask__link:hover {
  box-shadow: 0 0 5px #000;
}

/* ==================================================
   Section Education
================================================== */
.sub-title {
  text-align: left;
  margin: 32px 0;
}

.school__items {
  padding: 0 16px;
}

@media only screen and (min-width: 425px) {
  .school__items {
    padding: 0 32px;
  }
}

@media only screen and (min-width: 769px) {
  .school__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 993px) {
  .school__items {
    padding: 0 64px;
  }
}

.school__item {
  text-align: center;
}

.school__item:nth-child(2) {
  margin: 64px 0;
}

@media only screen and (min-width: 769px) {
  .school__item {
    width: 30%;
  }
  .school__item:nth-child(2) {
    margin: 0 5%;
  }
}

.school__item--title {
  color: #d8d8d8;
  font-size: 24px;
  text-transform: capitalize;
  padding: 12px 0;
}

@media only screen and (min-width: 769px) {
  .school__item--title {
    height: 96px;
    padding: 24px 0;
  }
}

.school__item--description {
  color: #949394;
  line-height: 28px;
}

.school_item__image__container {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 12px auto;
}

@media only screen and (min-width: 769px) {
  .school_item__image__container {
    hmargin: 0 auto;
  }
}

/* ==================================================
   Case Studies
================================================== */
.caseStudies {
  padding: 0 24px 24px 24px;
}

@media only screen and (min-width: 425px) {
  .caseStudies {
    padding: 0 48px 48px 48px;
  }
}

@media only screen and (min-width: 769px) {
  .caseStudies {
    padding: 0 32px 32px 32px;
  }
}

@media only screen and (min-width: 993px) {
  .caseStudies {
    padding: 0 64px 64px 64px;
  }
}

.caseStudies .title-description {
  margin-bottom: 16px;
  color: white;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: transparent;
  color: #a6a5a6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel:last-child {
  border-bottom: solid thin;
}

.panel .caseStudies__details {
  padding: 16px;
  overflow-y: scroll;
  min-height: 200px;
  list-style-type: circle;
}

.panel .caseStudies__details--text:not(:last-child) {
  margin-bottom: 16px;
}

.panel .caseStudies__details--list {
  padding-left: 28px;
}

.panel .caseStudies__details--list li:not(:last-child) {
  margin-bottom: 8px;
}

.panel .caseStudies__slideshow {
  position: relative;
  margin-top: 16px;
}

.panel .caseStudies__slideshow .mySlides1,
.panel .caseStudies__slideshow .mySlides2 {
  width: 100%;
}

.panel .caseStudies__slideshow .display-left-1,
.panel .caseStudies__slideshow .display-right-1,
.panel .caseStudies__slideshow .display-left-2,
.panel .caseStudies__slideshow .display-right-2 {
  position: absolute;
  top: calc(50% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  color: #343334;
  border: none;
  background: #777677;
  transition: opacity 0.5s;
  padding-top: 8px;
}

.panel .caseStudies__slideshow .display-left-1:hover,
.panel .caseStudies__slideshow .display-right-1:hover,
.panel .caseStudies__slideshow .display-left-2:hover,
.panel .caseStudies__slideshow .display-right-2:hover {
  opacity: 1;
}

.panel .caseStudies__slideshow .display-left-1,
.panel .caseStudies__slideshow .display-left-2 {
  padding-right: 12px;
}

.panel .caseStudies__slideshow .display-right-1,
.panel .caseStudies__slideshow .display-right-2 {
  right: 0;
}

@media only screen and (min-width: 993px) {
  .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .panel .caseStudies__details {
    width: 80%;
  }
  .panel .caseStudies__slideshow {
    margin-top: 0;
  }
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.contact__container {
  padding: 0 32px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 64px auto;
  /* Style inputs with type="text", select elements and textareas */
  /* Style the submit button with a specific background color etc */
}

@media only screen and (min-width: 425px) {
  .contact__container {
    padding: 0 64px;
  }
}

.contact__container .contact__label {
  color: #00BFFF;
  font-size: 18px;
  text-transform: capitalize;
  padding: 12px 0;
}

.contact__container input[type=text], .contact__container select, .contact__container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  display: block;
}

.contact__container input[type=submit] {
  background-color: #00BFFF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  transition: all 0.3s;
}

.contact__container input[type=submit]:hover {
  background-color: #0099cc;
}

.contact__container #message {
  height: 200px;
}

/*# sourceMappingURL=maps/style.css.map */
